{%load static%}
{%load bootstrap3%}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  {%block styles%}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  {%endblock%}
  <title></title>
</head>

<body>
  {%block content%}
  <div class="container-fluid">
    <nav>
      <ul>
        <a href="{% url 'home'%}">
          <li> <i class="fa fa-h-square">HOME</i></li>
        </a>
        <a href="{%url 'profile'%}">
          <li> <i class="fa fa-user-circle">PROFILE</i></li>
        </a>
        <li><i class="fa fa-address-book">CONTACTS</i> </li>
        <li><i class="fa fa-user">LANDMARKS</i> </li>
        <a href="{% url 'events'%}">
          <li> <span>EVENTS</span> </li>
        </a>
        <a href="/admin/">
          <li>ADMIN</li>
        </a>
        <a href="/logout"><li>LOGOUT</li></a>

      </ul>
      <hr style="color:black;">
    </nav>
    <div class="panel">
      {%for contact in contact%}
      <div class="panel-heading">
        <h1>Contacts</h1>
        <h2></h2>
      </div>
      {%endfor%}
    </div>

  </div>

  {%endblock%}
  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %}
  {% endblock %}
</body>

</html>
