{% load bootstrap3%}
{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  {%block styles%}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  {%endblock%}
  <title></title>
</head>

<body>
  {% block content%}
  <div class="container-fluid">
    <nav>
      <ul>
        <a href="{% url 'home'%}">
          <li> <i class="fa fa-h-square">HOME</i></li>
        </a>
        <a href="{%url 'profile'%}">
          <li> <i class="fa fa-user-circle">PROFILE</i></li>
        </a>
        <li><i class="fa fa-address-book">CONTACTS</i> </li>
        <li><i class="fa fa-user">LANDMARKS</i> </li>
        <a href="{% url 'events'%}">
          <li> <span>EVENTS</span> </li>
        </a>
        <a href="/admin/"><li>ADMIN</li> </a>
        <a href="/logout"><li>LOGOUT</li></a>

      </ul>
      <hr style="color:black;">
    </nav>

    <div class="">
      <blockquote>
        <span>If you want to upload business <br>
          Click on the icon below</span>
        <br>
        <a href="{%url 'business'%}"><i class="fa fa-upload"></i></a>
      </blockquote>


    </div>
    <div class="row" style="display;flex;justify-content:space-between">
      <h3 style="color:white;">Events and Businesses</h3>
      {%if business%}
      {% for bus in business%}
      <div class="col-md-3" style="background-color:white;">
        <p>{{bus.name}}</p>
        <div class="panel">
          <div class="panel-heading">
            <p>{{bus.name}}</p>
          </div>
          <div class="panel-body">
            <p>{{bus.email}}</p>
          </div>
          <div class="panel-footer">
            <p>{{bus.neighbourhood}}</p>
          </div>
        </div>
      </div>
      <br>
      {%endfor%}
      <br>
      {%endif%}


    </div>
    <div class="row">
      <div class="col-md-3" style="background-color:white;float:left;">
        {% for event in events%}
        <div class="panel">
          <div class="panel-heading">
            <h3>{{event.eventname}}</h3>
          </div>
          <div class="panel-body">
            <p>{{event.description}}</p>
          </div>
          <div class="panel-footer">
            <p>{{event.date}}</p>
          </div>
          {%endfor%}
        </div>
      </div>
    </div>
  </div>

  {%endblock%}
  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %}
  {% endblock %}

</body>

</html>
